<a href="https://colab.research.google.com/github/dayeong918/pdm011/blob/main/py-pandas/pandas_2_handling_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab



---

## [2] Handling DataFrame
- head()
- tail()
- describe()
- info()

In [3]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20210927', periods=6)
dates

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [4]:
# head()
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df.head()

                   A         B         C         D
2021-09-27  0.157145 -0.656820 -0.392772 -0.428795
2021-09-28  1.489694  0.320003 -0.897810 -1.051432
2021-09-29 -0.882165  0.342783  0.372968 -2.059851
2021-09-30  1.258796  0.388243 -0.748868 -1.501119
2021-10-01  0.115433  0.417245 -0.289182  0.559837

In [5]:
df.head(2)

                   A         B         C         D
2021-09-27  0.157145 -0.656820 -0.392772 -0.428795
2021-09-28  1.489694  0.320003 -0.897810 -1.051432

In [6]:
df.tail(3)

                   A         B         C         D
2021-09-30  1.258796  0.388243 -0.748868 -1.501119
2021-10-01  0.115433  0.417245 -0.289182  0.559837
2021-10-02  1.584692 -0.208394 -0.681593 -0.636170

In [7]:
# Display the index, columns, and the underlying NumPy data:
df.index

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2021-09-27 to 2021-10-02
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [10]:
# describe() shows a quick statistic summary of your data:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.620599  0.100510 -0.439543 -0.852922
std    0.981874  0.437939  0.458094  0.909835
min   -0.882165 -0.656820 -0.897810 -2.059851
25%    0.125861 -0.076295 -0.732049 -1.388697
50%    0.707970  0.331393 -0.537183 -0.843801
75%    1.431970  0.376878 -0.315080 -0.480639
max    1.584692  0.417245  0.372968  0.559837

In [11]:
df.describe().T

   count      mean       std       min       25%       50%       75%       max
A    6.0  0.620599  0.981874 -0.882165  0.125861  0.707970  1.431970  1.584692
B    6.0  0.100510  0.437939 -0.656820 -0.076295  0.331393  0.376878  0.417245
C    6.0 -0.439543  0.458094 -0.897810 -0.732049 -0.537183 -0.315080  0.372968
D    6.0 -0.852922  0.909835 -2.059851 -1.388697 -0.843801 -0.480639  0.559837

In [12]:
# Transposing your dataframe:
df.T

   2021-09-27  2021-09-28  2021-09-29  2021-09-30  2021-10-01  2021-10-02
A    0.157145    1.489694   -0.882165    1.258796    0.115433    1.584692
B   -0.656820    0.320003    0.342783    0.388243    0.417245   -0.208394
C   -0.392772   -0.897810    0.372968   -0.748868   -0.289182   -0.681593
D   -0.428795   -1.051432   -2.059851   -1.501119    0.559837   -0.636170

In [13]:
df.T.index

Index(['A', 'B', 'C', 'D'], dtype='object')

### Sorting

#### Sort by index
- sort_index(axis=0, ascending=False)
- sort_index(axis=1, ascending=False)

> Axis=0 Column-Wise Operation (수직으로)

> Axis=1 Row-Wise Operation (수평으로)

In [14]:
# Sorting by an axis:
df, df.sort_index(axis=0) #, ascending=False)

(                   A         B         C         D
 2021-09-27  0.157145 -0.656820 -0.392772 -0.428795
 2021-09-28  1.489694  0.320003 -0.897810 -1.051432
 2021-09-29 -0.882165  0.342783  0.372968 -2.059851
 2021-09-30  1.258796  0.388243 -0.748868 -1.501119
 2021-10-01  0.115433  0.417245 -0.289182  0.559837
 2021-10-02  1.584692 -0.208394 -0.681593 -0.636170,
                    A         B         C         D
 2021-09-27  0.157145 -0.656820 -0.392772 -0.428795
 2021-09-28  1.489694  0.320003 -0.897810 -1.051432
 2021-09-29 -0.882165  0.342783  0.372968 -2.059851
 2021-09-30  1.258796  0.388243 -0.748868 -1.501119
 2021-10-01  0.115433  0.417245 -0.289182  0.559837
 2021-10-02  1.584692 -0.208394 -0.681593 -0.636170)

In [15]:
df,df.sort_index(axis=1, ascending=False)

(                   A         B         C         D
 2021-09-27  0.157145 -0.656820 -0.392772 -0.428795
 2021-09-28  1.489694  0.320003 -0.897810 -1.051432
 2021-09-29 -0.882165  0.342783  0.372968 -2.059851
 2021-09-30  1.258796  0.388243 -0.748868 -1.501119
 2021-10-01  0.115433  0.417245 -0.289182  0.559837
 2021-10-02  1.584692 -0.208394 -0.681593 -0.636170,
                    D         C         B         A
 2021-09-27 -0.428795 -0.392772 -0.656820  0.157145
 2021-09-28 -1.051432 -0.897810  0.320003  1.489694
 2021-09-29 -2.059851  0.372968  0.342783 -0.882165
 2021-09-30 -1.501119 -0.748868  0.388243  1.258796
 2021-10-01  0.559837 -0.289182  0.417245  0.115433
 2021-10-02 -0.636170 -0.681593 -0.208394  1.584692)

#### Sort by value
- sort_values(by='column')

In [16]:
# Sorting by values:
df,df.sort_values(by='B') #, ascending=False)

(                   A         B         C         D
 2021-09-27  0.157145 -0.656820 -0.392772 -0.428795
 2021-09-28  1.489694  0.320003 -0.897810 -1.051432
 2021-09-29 -0.882165  0.342783  0.372968 -2.059851
 2021-09-30  1.258796  0.388243 -0.748868 -1.501119
 2021-10-01  0.115433  0.417245 -0.289182  0.559837
 2021-10-02  1.584692 -0.208394 -0.681593 -0.636170,
                    A         B         C         D
 2021-09-27  0.157145 -0.656820 -0.392772 -0.428795
 2021-10-02  1.584692 -0.208394 -0.681593 -0.636170
 2021-09-28  1.489694  0.320003 -0.897810 -1.051432
 2021-09-29 -0.882165  0.342783  0.372968 -2.059851
 2021-09-30  1.258796  0.388243 -0.748868 -1.501119
 2021-10-01  0.115433  0.417245 -0.289182  0.559837)

## indexing and slicing of DataFrame

#### Selecting data by indexing and slicing
- indexing
- slicing

In [17]:
# Selecting a single column, which yields a Series
df['A']

2021-09-27    0.157145
2021-09-28    1.489694
2021-09-29   -0.882165
2021-09-30    1.258796
2021-10-01    0.115433
2021-10-02    1.584692
Freq: D, Name: A, dtype: float64

In [18]:
# Selecting via [], which slices the rows.
df[0:3]

                   A         B         C         D
2021-09-27  0.157145 -0.656820 -0.392772 -0.428795
2021-09-28  1.489694  0.320003 -0.897810 -1.051432
2021-09-29 -0.882165  0.342783  0.372968 -2.059851

In [19]:
df['20200927':'20201001'] # 인덱스가 아닌 값인 경우는 지정된 범위가 다 선택된다.

Empty DataFrame
Columns: [A, B, C, D]
Index: []

#### Selecting data by label [중요!!]

> **loc, iloc**

In [20]:
df

                   A         B         C         D
2021-09-27  0.157145 -0.656820 -0.392772 -0.428795
2021-09-28  1.489694  0.320003 -0.897810 -1.051432
2021-09-29 -0.882165  0.342783  0.372968 -2.059851
2021-09-30  1.258796  0.388243 -0.748868 -1.501119
2021-10-01  0.115433  0.417245 -0.289182  0.559837
2021-10-02  1.584692 -0.208394 -0.681593 -0.636170

In [21]:
df.loc[dates[0]]   # loc()

A    0.157145
B   -0.656820
C   -0.392772
D   -0.428795
Name: 2021-09-27 00:00:00, dtype: float64

In [22]:
# Selecting on a multi-axis by label:
df.loc[:,['A','B']]

                   A         B
2021-09-27  0.157145 -0.656820
2021-09-28  1.489694  0.320003
2021-09-29 -0.882165  0.342783
2021-09-30  1.258796  0.388243
2021-10-01  0.115433  0.417245
2021-10-02  1.584692 -0.208394

#### [DIY: 도전코딩]

> Select data for first two days AND comumn 3,4 from df.

In [23]:
# df.loc[0:2,['C','D']] *필기
# df.loc['20200928':'20200930',['C','D']]
# df.loc[dates[:2],['C','D']]

#### Selecting data by position (iloc())
- index 사용

In [24]:
df

                   A         B         C         D
2021-09-27  0.157145 -0.656820 -0.392772 -0.428795
2021-09-28  1.489694  0.320003 -0.897810 -1.051432
2021-09-29 -0.882165  0.342783  0.372968 -2.059851
2021-09-30  1.258796  0.388243 -0.748868 -1.501119
2021-10-01  0.115433  0.417245 -0.289182  0.559837
2021-10-02  1.584692 -0.208394 -0.681593 -0.636170

In [26]:
df.iloc[3]  # 결과는 차원축소형으로 표현됨.

A    1.258796
B    0.388243
C   -0.748868
D   -1.501119
Name: 2021-09-30 00:00:00, dtype: float64

In [25]:
# [다시 도전] 
# Select data for first two days AND comumn 3,4 from df.
# Use iloc
# df.iloc[:2,2:4]

In [ ]:
# Select one item
df.iloc[1,1]

In [ ]:
# [DIY: 다시 도전] iloc사용.
# Select data for first three days from df
# Your code
df[:3,:]

#### Selecting data by Boolean indexing

In [27]:
df

                   A         B         C         D
2021-09-27  0.157145 -0.656820 -0.392772 -0.428795
2021-09-28  1.489694  0.320003 -0.897810 -1.051432
2021-09-29 -0.882165  0.342783  0.372968 -2.059851
2021-09-30  1.258796  0.388243 -0.748868 -1.501119
2021-10-01  0.115433  0.417245 -0.289182  0.559837
2021-10-02  1.584692 -0.208394 -0.681593 -0.636170

In [28]:
df[df.A > 0]

                   A         B         C         D
2021-09-27  0.157145 -0.656820 -0.392772 -0.428795
2021-09-28  1.489694  0.320003 -0.897810 -1.051432
2021-09-30  1.258796  0.388243 -0.748868 -1.501119
2021-10-01  0.115433  0.417245 -0.289182  0.559837
2021-10-02  1.584692 -0.208394 -0.681593 -0.636170

In [29]:
df[df > 0]

                   A         B         C         D
2021-09-27  0.157145       NaN       NaN       NaN
2021-09-28  1.489694  0.320003       NaN       NaN
2021-09-29       NaN  0.342783  0.372968       NaN
2021-09-30  1.258796  0.388243       NaN       NaN
2021-10-01  0.115433  0.417245       NaN  0.559837
2021-10-02  1.584692       NaN       NaN       NaN